In [1]:
import pandas as pd


categorical_data = ["a"] * 5 + ["b"] * 100 + ["c"] * 70 + ["d"] * 20
data = pd.get_dummies(categorical_data, prefix="var")
data.head()

   var_a  var_b  var_c  var_d
0      1      0      0      0
1      1      0      0      0
2      1      0      0      0
3      1      0      0      0
4      1      0      0      0

In [2]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor


def compute_VIF(data):
    """
    计算VIF
    """
    data = sm.add_constant(data)
    vif = pd.DataFrame()
    vif["VIF Factor"] = [variance_inflation_factor(data.values, i) for i in range(data.shape[1])]
    vif["features"] = data.columns
    return vif

In [3]:
compute_VIF(data[["var_b", "var_c", "var_d"]])

   VIF Factor features
0   39.000000    const
1   10.230769    var_b
2    9.615385    var_c
3    4.487179    var_d

In [4]:
compute_VIF(data[["var_a", "var_c", "var_d"]])

   VIF Factor features
0    1.950000    const
1    1.023077    var_a
2    1.089744    var_c
3    1.076923    var_d