In [1]:
import numpy as np
import pandas as pd



# 生成模型数据，其中x1，x2为不相关的变量；x1，x3强相关
data = []
n = 2
np.random.seed(2046)
for i in range(0, 3):
    for j in range(0, 3):
        # x1，x2为不相关的变量
        data.append({"x1": i, "x2": j})
data = pd.DataFrame(data * n)
# 生成强相关自变量
data["x3"] = data["x1"] + np.random.random(9 * n)
data

    x1  x2        x3
0    0   0  0.894992
1    0   1  0.596078
2    0   2  0.435564
3    1   0  1.153073
4    1   1  1.340793
5    1   2  1.621597
6    2   0  2.139849
7    2   1  2.488654
8    2   2  2.049478
9    0   0  0.564523
10   0   1  0.270165
11   0   2  0.596075
12   1   0  1.291240
13   1   1  1.251871
14   1   2  1.110560
15   2   0  2.805694
16   2   1  2.465100
17   2   2  2.258865

In [2]:
import statsmodels.api as sm


# 在数据中加入常数项（如果无）
X = sm.add_constant(data[["x1", "x2", "x3"]])
X

    const  x1  x2        x3
0     1.0   0   0  0.894992
1     1.0   0   1  0.596078
2     1.0   0   2  0.435564
3     1.0   1   0  1.153073
4     1.0   1   1  1.340793
5     1.0   1   2  1.621597
6     1.0   2   0  2.139849
7     1.0   2   1  2.488654
8     1.0   2   2  2.049478
9     1.0   0   0  0.564523
10    1.0   0   1  0.270165
11    1.0   0   2  0.596075
12    1.0   1   0  1.291240
13    1.0   1   1  1.251871
14    1.0   1   2  1.110560
15    1.0   2   0  2.805694
16    1.0   2   1  2.465100
17    1.0   2   2  2.258865

In [3]:
from statsmodels.stats.outliers_influence import variance_inflation_factor


print(variance_inflation_factor.__doc__)

variance inflation factor, VIF, for one exogenous variable

    The variance inflation factor is a measure for the increase of the
    variance of the parameter estimates if an additional variable, given by
    exog_idx is added to the linear regression. It is a measure for
    multicollinearity of the design matrix, exog.

    One recommendation is that if VIF is greater than 5, then the explanatory
    variable given by exog_idx is highly collinear with the other explanatory
    variables, and the parameter estimates will have large standard errors
    because of this.

    Parameters
    ----------
    exog : ndarray
        design matrix with all explanatory variables, as for example used in
        regression
    exog_idx : int
        index of the exogenous variable in the columns of exog

    Returns
    -------
    vif : float
        variance inflation factor

    Notes
    -----
    This function does not save the auxiliary regression.

    See Also
    --------
    xxx : class for regression diagnostics  TODO: doesn't exist yet

    References
    ----------
    http://en.wikipedia.org/wiki/Variance_inflation_factor

In [4]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif

   VIF Factor features
0   11.049590    const
1   12.907932       x1
2    1.061102       x2
3   12.969034       x3